img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.productCard{
    display: flex;
    flex-wrap: wrap;
}

.edit{
    float: left;
}

.adminButton {
    font-size: 18px;
}

.adminButton:hover {
    text-decoration: underline;
}