
img {
   
}

.productCard{
    display: flex;
    flex-wrap: wrap;
}

.edit{
    float: left;
}

.adminButton {
    font-size: 18px;
}

.adminButton:hover {
    text-decoration: underline;
}

.productcontainer {
    columns: 2 auto;
  }

  .home-images {
    float: left;
    width:  50px;
    height: 50px;
    object-fit: cover;
  }